.App {
  text-align: center;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 80px;
}

.Bio-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 80px;
}

.bio-container {
  border: 0px solid #FFC784;
  margin-top: -3%;
  margin-left: 2%;
  margin-right: 2%;
  border-spacing: 200px;
  border-width: 5px;
  border-radius: 50px;
  padding: 0% 3% 3% 3%;
  background-color: rgba(40, 44, 52, 0.85)
}

.Welcome {
  text-align: center;
  color: #ffd87d;
  font-size: 300%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.bio {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  text-shadow: #282c34;
  font-size: 1.3rem;
  color: #ffdeb7;
}

.pfp-pic {
  outline: 2px solid #ccc;
  outline-offset: 4px;
  margin-top: -5px;
  height: 35vmin;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.icon {
  transition: transform 0.7s ease-in-out;
  animation-name: icon-unhover;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  width: 72px;
  height: 72px;
}

.icon:not(:hover) {
  opacity: 0.8;
}

.icon:hover {
  animation-name: icon-hover;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes icon-hover {
  100% {
    width: 85px;
    height: 85px;
  }
}

@keyframes icon-unhover {
  0% {
    width: 85px;
    height: 85px;
  }

  100% {
    width: 72px;
    height: 72px;
  }
}

.video-container {
  border: 5px solid #FFC784;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 50px;
  padding: 0% 3% 3% 3%;
  background-color: rgba(40, 44, 52, 0.85);
  box-sizing: border-box;
  position: relative;
}

.ifram {
  max-width: 100%;
  max-height: 100%;
}

.video-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.github-container {
  margin: 10%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.5%;
  border: 0px solid #FFC784;
  border-spacing: 200px;
  border-width: 5px;
  border-radius: 50px;
  padding: 0% 3% 3% 3%;
  background-color: rgba(40, 44, 52, 0.85)
}

.github-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.mia-osu {
  text-decoration: overline 2px;
}

.mia-osu-text {
  font-size: 1.1rem;
  font-weight: 450;
}

.image {
  width: 70%;
  height: auto;
  transition: all 0.3s ease;
}

.image.clicked {
  width: 100%;
}