.App {
  text-align: center;
}

.App-header {
  background-image: url("./img/btr.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 80px;
}

@media only screen and (max-device-width: 1366px) {
  .App-header {
    background-attachment: scroll;
  }
}


.Bio-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 80px;
}

.bio-container {
  border: 0px solid #FFC784;

  border-spacing: 200px;
  border-width: 5px;
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(40, 44, 52, 0.85)
}

.Welcome {
  text-align: center;
  color: #ffd87d;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.bio {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  text-shadow: #282c34;
  font-size: 1.3rem;
  color: #ffdeb7;
}

.pfp-pic {
  outline: 2px solid #ccc;
  outline-offset: 4px;
  margin-top: -5px;
  height: 35vmin;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.icon {
  transition: transform 0.7s ease-in-out;
  animation-name: icon-unhover;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  width: 72px;
  height: 72px;
}

.icon:not(:hover) {
  opacity: 0.8;
}

.icon:hover {
  animation-name: icon-hover;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes icon-hover {
  100% {
    margin: 20px;
    transform: scale(1.3);
  }
}

@keyframes icon-unhover {
  0% {
    margin: 20px;
    transform: scale(1.3);
  }

  100% {
    margin: 15px;
    transform: scale(1);
  }
}

.video-container {
  margin-top: 50px;
  border: 0px solid #FFC784;
  border-spacing: 200px;
  border-width: 5px;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(40, 44, 52, 0.85)
}

.video-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.github-container {
  margin-top: 50px;
  margin-bottom: 10px;
  border: 0px solid #FFC784;
  border-spacing: 200px;
  border-width: 5px;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(40, 44, 52, 0.85)
}

.github-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.mia-osu {
  text-decoration: overline 2px;
}

.mia-osu-text {
  font-size: 1.1rem;
  font-weight: 450;
}


.image-button {
  color: #282c34;
}